* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 255, 255);
    height: 100vh;
    gap: 20px;
    padding: 1em;
}

#menu-ctn {
    border-radius: 8px;
    border: 2px solid rgb(0, 157, 105);
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 3em 6em;
}

button {
    padding: 1em 1.5em;
    min-width: 15em;
    background-color: aquamarine;
    border: 2px solid rgb(0, 157, 105);
    border-radius: 8px;
    transition: 0.3s background-color ease-in-out;
}

button:hover {
    background-color: aqua;
    cursor: pointer;
}